$font-VN: 'Be Vietnam Pro', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$default-color: #C7E5EC;
$shop-color: #F0D1E0;
$text-color: #6BABAB;