@import '../../../../../variable.scss';

#review-section {
    min-height: 60vh;
    background-color: white;
    padding: 50px 0;
}

.review {
    & h1 {
        padding: 75px 0;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 2px;
    }

    &-main {
        display: flex;
        gap: 48px;
        overflow: hidden;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        padding-bottom: 5px;

        &::-webkit-scrollbar {
            // width: 8px;
            height: 5px;
            opacity: 0.7;
            border-radius: 100vw;
            margin-block: .5em;
        }
        
        &::-webkit-scrollbar-track {
            border-radius: 100vw;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #bbb;
            border-radius: 100vw;
            
            &:hover {
                background: #ccc;
            }
        }
    }

    &-block {
        flex-shrink: 0;
        width: min(750px, max(80vw, 540px));
        height: 300px;
        background-color: #91D2DB;
        padding-top: 45px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        & p {
            font-size: 18px;
            font-weight: 500;
            max-height: 150px;
            text-align: justify;
            line-height: 1.5;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 4;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
    }

    &-footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &-img {
        position: relative;
        width: 120px;
        height: 150px;
        & img {
            position: absolute;
            bottom: 0;
            height: 150px;
            width: 100px;
            background-position: center;
            object-fit: cover;
        }
    }

    &-title {
        width: calc(100% - 120px);
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        & .review-left {
            & h1 {
                font-size: 20px;
                font-weight: 900;
                line-height: 22px;
                padding: 0;
            }
            & h3 {
                font-size: 15px;
                font-weight: 500;
                padding-top: 5px;
            }
        }
        & .review-right {
            display: flex;
            gap: 10px;
            & i {
                font-size: 25px;
            }
            & h1 {
                font-size: 25px;
                font-weight: 900;
                line-height: 30px;
                padding: 0;
            }
        }
    }
}