@import '../../../variable.scss';

.product-header {
    background: 
    linear-gradient(
        rgba(255, 255, 255, 0.065), 
        rgba(255, 255, 255, 0.065)
      ), 
        url(./img/Header-bg.png);
    background-size:cover;
    background-position: center;
    min-height: 100vh;

    & .header {

        &-containt {
            padding-top: 100px;

            & p {
                font-family: $font-inter;
                width: 80%;
                text-align: justify;
                padding-top: 10vh;
                padding-bottom: 15vh;
                font-weight: 500;
                color: black;
            }
        }
    
        &-name {
            padding-top: 16vh;
    
            & h1 {
                font-size: 64px;
                color: #262B36;
                letter-spacing: 1px;
                font-weight: 700;
            }
            
            & h2 {
                font-size: 52px;
                color: white;
                letter-spacing: 2px;
                font-weight: 500;
                padding-top: 15px;
            }
        }
    
        &-title {
            position: relative;
            padding-bottom: 20px;
    
            & h1 {
                font-family: $font-inter;
                font-size: 200px;
                font-weight: 500;
                color: #2f779d;
            }
    
            & h2 {
                position: absolute;
                bottom: 55px;
                left: 210px;
                font-size: 64px;
                font-weight: 700;
            }
        }
    }
}